{% extends 'base.html' %}

{% block content %}

<br>
<!--This is checking if there is any error returned from views.py, then display it-->
{% if error %}
{{ error }}
{% endif %}

<br><br>
<h1>Login</h1>

<form method="POST" action="{% url 'login' %}">
<!--csrf token, to get protected against different types of attackes-->
{% csrf_token %}
Username:
<br><input type="text" name="username">
<br>
Password:
<br>
<input type="password" name="password">
<br><br>
<input class="btn btn-primary" type="submit" value="Login">

</form>

{% endblock %}
