{% extends 'base.html' %}

{% block content %}

<br>
<!--This is checking if there is any error returned from views.py, then display it-->
{% if error %}
<font size="4" color="red">{{ error }}</font>
{% endif %}
<br>
<br>

<h1>Create Product</h1>

<form method="POST" action="{% url 'create' %}" enctype="multipart/form-data">
  <!--csrf token, to get protected against different types of attackes-->
  {% csrf_token %}
  Title:
  <br><input type="text" name="title">
  <br>
  Body:
  <br>
  <input type="text" name="body">
  <br>
  URL:
  <br>
  <input type="textbox" name="url">
  <br>
  Icon:
  <br>
  <input type="file" name="icon">
  <br>
  Image:
  <br>
  <input type="file" name="image">
  <br>
  <br>
  <input class="btn btn-primary" type="submit" value="Add Product!">
  <!--For pub_date, we will take automatically and votes_total and hunter also-->
</form>

{% endblock %}
